.more
    display block
    .more__link 
            display: block;
            margin: 0 10px 13px;
            border-radius: 2px;
            height: 45px;
            font-size: 14px;
            line-height: 45px;
            text-align: center;
            color: #bbb;
            background: #f6f6f6;    