.header-o
    position: fixed;
    position relative
    width: 100%;
    background: url(https://9.url.cn/edu/mobilev2/pages/cate/img/top_bg@3x.e7ee89b.png) no-repeat;
    background-size: cover;
    background-color: #23b8ff;
    z-index: 10000;
    .m-header2-o
        width: auto
        height: 32px
        padding: 12px
        background: inherit
        .m-header2__search-o
            line-height: 32px;
            position: relative;
            border-radius: 16px;
            height: 32px;
            background: #f2f2f6;
            .m-header2__tips-o 
                color: #fff;
                background: #65cdff;
                border-radius: 16px;
                top: 0;
                left: 0;
                width: 100%;
                height 33px
                font-size: 14px;
                line-height: 32px;
                text-align: center;
                justify-content: center;
                align-items: center;
                .icon-font-o 
                    position: relative;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    font-variant: normal;
                    line-height: 1;
                    vertical-align: -2px;
                    text-transform: none;
                    -webkit-font-smoothing: antialiased;
                    speak: none;
                .m-header2__input-o 
                    position absolute
                    left 0
                    height 33px
                    border: 0;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    font-size: 14px;
                    line-height: 32px;
                    background: transparent;
                    outline: 0;
                    z-index 99999
                    pointer-events: none;

                   
    .cat-list-o 
        font-size: 10px;
        overflow: auto;
        .cat-item-wrap 
            display: flex;
            text-align center
            justify-content: space-around;
            -webkit-justify-content: space-around;
            .cat-item 
                display: inline-block;
                position: relative;
                color: #fff;
                padding: 0 5px;
                height: 74px;
                text-align: center;
            .current:after 
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    border-bottom: 2px solid #fff;
                .icate 
                    display: block;
                    width: 24px;
                    height: 24px;
                    font-size: 24px;
                    margin: 8px auto;


